.one {
   max-width: 600px;
   background-color: #199236;
    margin: 0px auto;
   
}
.one p{
    text-align: center;

     font-size:42px;
  font-family: impact;
  font-style: italic
}

.two{
   width: 100%;
   height: 20vh;
  display: flex;
   
    align-items:stretch;
    align-content:stretch;
    background-color: #885D5D;
    
     justify-content:space-around;
     margin-bottom: 30px;

}
.left-content{
     flex-grow:1;
     margin: 0 20px
  
}

}
.content{
   flex-grow:1;
   text-overflow:ellipsis;
   overflow:hidden;
   
   margin: 0 20px
}
.right-content{
 
     flex-grow:1;
margin: 0 20px
}
.content p{
    font-size:22px;
    font-family:DFKai-sb;
    
    overflow：hidden;

  
}
.left-content img{
    width: 20vw;
    height: 20vh;}
.right-content img{
    width: 20vw;
    height: 20vh;}


.three{
    width: 100%;
   height: 20vh;
  display: flex;
   
    align-items:stretch;
    align-content:stretch;
    background-color: #2EB43C;
    
     justify-content:space-around;
     margin-bottom: 30px;
}


.four{width: 100%;
   height: 20vh;
  display: flex;
   
    align-items:stretch;
    align-content:stretch;
    background-color: #DBDDE4;
    
     justify-content:space-around;
     margin-bottom: 30px;

}
#yo { 
width: 60vw;
    font-size:24px;
    font-family:DFKai-sb;
text-align: center;}
@media screen and(min-width: 768px) and(max-width: 991px) {
  .content p{
    font-size:8px;
    font-family:DFKai-sb;
    
    overflow：hidden;
}
.two{
   width: 100vw;
   height: 30vh;
  display: flex;
   
    align-items:stretch;
    align-content:stretch;
    background-color: #885D5D;
    
     justify-content:space-around;
     margin-bottom: 30px;}

